@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

*{
    box-sizing: border-box;
}

body{
    background-color: #efeff0;
    padding: 30px;
    font-family: 'Playfair Display', serif;
}


.container{
    width: 50%;
}

.header{
    background-color: #fff;
    padding: 20px;
   
}

.logo{
    text-align: left;
    
}

.menu{
    text-align: right;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: #b5b5b4;
    
}

h1{
  font-style: italic;  
}

.logo h4{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    
}

.title{
    font-style: normal;
}

.bg{
    padding-top: 50px;
    text-align: center;
    height: 50vh;
    background-image: url(img/bc.jpg) ;
    background-position: center;
    background-size: cover;
}

.left-card, .right-card{
    margin: 0;
    padding: 0;
}

.s{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.line{
    border-top: 2px solid black;
    width: 50px;
    margin-top: 25px;
    margin-right: 20px;
}

.line2{
    border-top: 2px solid black;
    width: 50px;
    margin-top: 10px;
    position: absolute;
    right: 0;
}

.line3{
    border-top: 2px solid black;
    width: 50px;
    margin-top: 25px;
    
}
.left-card img, .right-card img{
    /* background-image: url(img/bc.jpg) no-repeat; */
    width: 100%;
    /* height: 200px; */
   
}

h5{
    color: #909090;
    font-style: italic;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   /*  padding: 50px 100px; */
    background-color: #fff;
}

.img-link{
    height: 250px;
}