*{
    box-sizing: border-box;
}

body{
    background-color: #efeff0;
    padding: 30px;
}


.container{
    width: 50%;
}

.header{
    background-color: #fff;
    padding: 20px;
   
}

.logo{
    text-align: left;
}

.menu{
    text-align: right;
    color: #b5b5b4;
    font-size: 20px;
}

h4{
    font-weight: bold;
    font-size: 20px;
}

.bg{
    padding-top: 50px;
    text-align: center;
    height: 50vh;
    background-image: url(img/bc.jpg) ;
    background-position: center;
    background-size: cover;
}

.left-card{
    background-image: url(img/bc.jpg) ;
    background-position: 100px 0;
    height: 50vh;
    padding-top: 50px;
    text-align: center;
    transform: scaleX(-1); 
}